.gif-box {
  height: 90vh;
}

.desc {
  color: white;
  padding: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-holder {
  text-align: center;
  margin: 32px auto;
  width: 50%;
}

.btn {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
}

.btn:hover {
  opacity: 0.9;
}
